body{
    font-family: 'Josefin Slab', serif;
}
.btn {
    display: inline-block;
    background-color: #ff9c28;
    color: #fff;
    outline: 0;
    padding: 1.4em 2.83em 1.1em;
    font-size: 0.875em;
    font-weight: 800;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    transition: background-color 0.3s,box-shadow 0.3s;
    white-space: nowrap;
    border-radius: 0;
    line-height: normal;

}
/* get_start_page */
.get_start_page, .list_wrp{
    background-color: #222;
    min-height: 100vh;
    height: 100%;
    position: relative;
}
.logo img {width: 180px;}
.get_start_details{
    text-align: center;
    margin-top: 20%;
}
.get_start_details h1{
    font-size: 44px;
    color: #fff;
    line-height: 1.4;
    font-weight: 300;
    margin: 30px 0 0 0;
}

.get_start_details p{
    font-weight: 300;
    color: #777;
    max-width: 580px;
    margin: 0 auto;
}
.get_start{
    margin-top: 20px;
}
.get_start:hover{
    color: #fff;
    background-color: #ff8c04;
}

/* list_wrp */

.list_wrp .logo{
    text-align: center;
}
#currant_month{
    color: #fff;
    text-align: center;
}
.grocery_list ul li{
    color: #fff;
}

.add_list_items{
    background-color: transparent;
    border-radius: 0;
    color: #fff;
}
.add_list_items:focus{
    background-color: transparent;
    color: #fff;
}
.grocery_list ul{
    padding: 0;
}
.grocery_list ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.397);
    border: 1px solid #fff;
    padding: 10px;
    margin-bottom: 10px;
}
.grocery_list ul li .btn{
    padding: 6px 10px;
}
.grocery_list ul li p{
    margin: 0;
}